/* HEADER STYLES */

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.one {
  background-color: #dcedc8;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.three {
  background-color: #dcedc8;
}

.five {
  background-color: #dcedc8;
}

.seven {
  background-color: #dcedc8;
}

.nine {
  background-color: #dcedc8;
}

.twelve {
  background-color: #c5e1a5;
}

.fourteen {
  background-color: #c5e1a5;
}

.sixteen {
  background-color: #c5e1a5;
}

.eightteen {
  background-color: #c5e1a5;
}

.twenty {
  background-color: #c5e1a5;
}
.twentyOne {
  background-color: #aed581;
}

.twentyThree {
  background-color: #aed581;
}

.twentyFive {
  background-color: #aed581;
}

.twentySeven {
  background-color: #aed581;
}

.twentyNine {
  background-color: #aed581;
}

.thirtyTwo {
  background-color: #9ccc65;
}

.thirtyFour {
  background-color: #9ccc65;
}

.thirtySix {
  background-color: #9ccc65;
}

.thirtyEight {
  background-color: #9ccc65;
}

.forty {
  background-color: #9ccc65;
}
.fortyOne {
  background-color: #8bc34a;
}

.fortyThree {
  background-color: #8bc34a;
}

.fortyFive {
  background-color: #8bc34a;
}

.fortySeven {
  background-color: #8bc34a;
}

.fortyNine {
  background-color: #8bc34a;
}

.fiftyTwo {
  background-color: #7cb342;
}

.fiftyFour {
  background-color: #7cb342;
}

.fiftySix {
  background-color: #7cb342;
}

.fiftyEight {
  background-color: #7cb342;
}

.sixty {
  background-color: #7cb342;
}
.sixtyOne {
  background-color: #689f38;
}

.sixtyThree {
  background-color: #689f38;
}

.sixtyFive {
  background-color: #689f38;
}

.sixtySeven {
  background-color: #689f38;
}

.sixtyNine {
  background-color: #689f38;
}

.seventyTwo {
  background-color: #558b2f;
}

.seventyFour {
  background-color: #558b2f;
}

.seventySix {
  background-color: #558b2f;
}

.seventyEight {
  background-color: #558b2f;
}

.eighty {
  background-color: #558b2f;
}
.eightyOne {
  background-color: #33691e;
}

.eightyThree {
  background-color: #33691e;
}

.eightyFive {
  background-color: #33691e;
}

.eightySeven {
  background-color: #33691e;
}

.eightyNine {
  background-color: #33691e;
}

.ninetyTwo {
  background-color: green;
}

.ninetyFour {
  background-color: green;
}

.ninetySix {
  background-color: green;
}

.ninetyEight {
  background-color: green;
}

.hundred {
  background-color: green;
}
/* 
.cover {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 9;
  z-index: 3;
  background-color: black;
  opacity: 0.1;
} */
