/* PROJECTS STYLES */

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.projectOne {
  display: grid;
  grid-template-rows: 10vh 1fr;
}

.projectTwo {
  display: grid;
  grid-template-rows: 10vh 1fr;
}

.projectThree {
  display: grid;
  grid-template-rows: 10vh 1fr;
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  opacity: 0.1;
}

.projectImage {
  background-color: black;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
}

.projectTitle {
  justify-self: center;
  align-self: center;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  color: #424242;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4.5vw;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: black 0.1vw 0.1vw 0;
  position: relative;
}
.projectTitle:after {
  content: "DEMO";
  position: absolute;
}
.projectTitle:after {
  background-image: -webkit-linear-gradient(
    left top,
    transparent 0%,
    transparent 25%,
    #555 25%,
    #555 50%,
    transparent 50%,
    transparent 75%,
    #555 75%
  );
  background-size: 0.3vw 0.3vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}
