/* BASIC LAYOUT AND SIZING OF THE LANDING PAGE */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.3rem;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
  background: none repeat 0 0 rgb(0, 77, 64);
  height: 4rem;
}

.video {
  grid-column: 1 / 4;
  grid-row: 2;
  background-color: white;
  height: 100vh;
}

.about {
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: white;
  height: 50vh;
}

.stack {
  grid-column: 1 / 4;
  grid-row: 4;
  background-color: white;
  height: 10vh;
}

.projects {
  grid-column: 1 / 4;
  grid-row: 5;
  background-color: white;
  height: 50vh;
}

.contact {
  grid-column: 1 / 4;
  grid-row: 6;
  background-color: white;
  height: 50vh;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 7;
  background: none repeat 0 0 rgb(0, 77, 64);
  height: 5rem;
}
