/* Application Styles */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 0.5rem;
  height: 100vh;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
}

.video {
  grid-column: 1 / 4;
  grid-row: 2;
  background-color: white;
  box-shadow: 0 10px 6px -6px #bdbdbd;
}

.about {
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: white;
  box-shadow: 0 10px 6px -6px #bdbdbd;
}

.stack {
  grid-column: 1 / 4;
  grid-row: 4;
  background-color: white;
  box-shadow: 0 10px 6px -6px #bdbdbd;
}

.projects {
  grid-column: 1 / 4;
  grid-row: 5;
  background-color: white;
  box-shadow: 0 10px 6px -6px #bdbdbd;
}

.contact {
  grid-column: 1 / 4;
  grid-row: 6;
  background-color: white;
  box-shadow: 0 10px 6px -6px #bdbdbd;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 7;
}
