/* BASIC LAYOUT AND SIZING OF THE LANDING PAGE */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.3rem;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
  z-index: 1;
  height: 4rem;
}

.video {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: white;
  height: 100vh;
}

/* .checker {
  grid-column: 1 / 4;
  grid-row: 2;
  height: 10vh;
} */

.about {
  grid-column: 1 / 4;
  grid-row: 3;
  background-color: white;
  height: 75vh;
}

.stack {
  grid-column: 1 / 4;
  grid-row: 4;
  background-color: white;
  height: 3vh;
}

.projects {
  padding-top: 5vh;
  grid-column: 1 / 4;
  grid-row: 5;
  background-color: white;
  height: 75vh;
}

.contact {
  grid-column: 1 / 4;
  grid-row: 6;
  background-color: white;
  height: 50vh;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 7;
  background-color: green;
  height: 5rem;
}

@media screen and (min-width: 800px) {
  .stack {
    height: 10vh;
  }
}
