/* HEADER STYLES */

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
}

.logo {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 2rem;
  text-decoration-line: none;
  justify-self: center;
}

.link {
  justify-self: center;
  align-self: center;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1rem;
  text-decoration-line: none;
}
